<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>http://www.aiba.com/api_v5.5/mclient.php?a=</string>
	<key>baseIP</key>
	<string>42.121.80.110</string>
	<key>login</key>
	<string>login</string>
	<key>addBlog</key>
	<string>addblog</string>
	<key>getActivityList</key>
	<string>activitylist</string>
	<key>seekAttention</key>
	<string>seekattention</string>
	<key>getSeekList</key>
	<string>seeklist</string>
	<key>getFavorite</key>
	<string>getfavorite</string>
	<key>getHotBlog</key>
	<string>hotblog</string>
	<key>getBlogDetail</key>
	<string>blogdetail</string>
	<key>getLatestBlog</key>
	<string>home</string>
	<key>addFollowee</key>
	<string>addfollowee</string>
	<key>sendPayLog</key>
	<string>payfail</string>
	<key>addFavoriteTopic</key>
	<string>addtopicfavorite</string>
	<key>searchStatus</key>
	<string>blogsearch</string>
	<key>browse</key>
	<string>browse</string>
	<key>finishDate</key>
	<string>meetingcomplete</string>
	<key>commentStatus</key>
	<string>comment</string>
	<key>setAvatar</key>
	<string>setavatar</string>
	<key>getAppList</key>
	<string>getfriendlink</string>
	<key>contactViaMatchMaker</key>
	<string>contactmatchmaker</string>
	<key>ignoreDate</key>
	<string>meetingignore</string>
	<key>refuseDate</key>
	<string>meetingrefuse</string>
	<key>quitActivity</key>
	<string>activityquit</string>
	<key>getActivityDetail</key>
	<string>activitydetail</string>
	<key>registerActivity</key>
	<string>activityreg</string>
	<key>signActivity</key>
	<string>activitysign</string>
	<key>replyStatus</key>
	<string>comment</string>
	<key>deleteFavorite</key>
	<string>delfavorite</string>
	<key>deleteFollowee</key>
	<string>delfollowee</string>
	<key>deletePhoto</key>
	<string>delphoto</string>
	<key>updateMateInfo</key>
	<string>updatemate</string>
	<key>deleteFavoriteTopic</key>
	<string>deltopicfavorite</string>
	<key>retweetStatus</key>
	<string>forward</string>
	<key>getAtMe</key>
	<string>getatme</string>
	<key>blockUser</key>
	<string>blackuser</string>
	<key>getMyComments</key>
	<string>getcomment</string>
	<key>getCommentMe</key>
	<string>getcommentme</string>
	<key>getMyFavorite</key>
	<string>getfavorite</string>
	<key>getMyPM</key>
	<string>getmypmuser</string>
	<key>getPMWithUser</key>
	<string>getmypmone</string>
	<key>getMatchedStar</key>
	<string>matchstar</string>
	<key>recordLocation</key>
	<string>lbsrecord</string>
	<key>changePassword</key>
	<string>updatepwd</string>
	<key>changeMeeting</key>
	<string>meetingmodify</string>
	<key>getOnesBlog</key>
	<string>bloglist</string>
	<key>checkReg</key>
	<string>chkreg</string>
	<key>getOnesFans</key>
	<string>getonesfans</string>
	<key>getOnesFollowee</key>
	<string>getonesfollowee</string>
	<key>getOnesSeeMe</key>
	<string>look</string>
	<key>getPhotoWall</key>
	<string>photowall</string>
	<key>deletePM</key>
	<string>delpm</string>
	<key>deleteAllPM</key>
	<string>delallpm</string>
	<key>getPrompts</key>
	<string>getprompts</string>
	<key>deletePMWithUser</key>
	<string>delpmbyuser</string>
	<key>getPopularBlog</key>
	<string>popularblog</string>
	<key>getProfile</key>
	<string>profile</string>
	<key>sendPM</key>
	<string>sendpm</string>
	<key>updateProfile</key>
	<string>updateprofile</string>
	<key>getBindStatus</key>
	<string>chkbind</string>
	<key>bindSina</key>
	<string>bindwb</string>
	<key>debindSina</key>
	<string>debindwb</string>
	<key>addPhoto</key>
	<string>addphoto</string>
	<key>regAccount</key>
	<string>reg</string>
	<key>loginByWeibo</key>
	<string>loginbywb</string>
	<key>searchUser</key>
	<string>usersearch</string>
	<key>getPhotos</key>
	<string>photo</string>
	<key>getGiftList</key>
	<string>gift</string>
	<key>getAllGiftList</key>
	<string>allgift</string>
	<key>sendGift</key>
	<string>sendgift</string>
	<key>getInterviewList</key>
	<string>interviewlist</string>
	<key>answerInterview</key>
	<string>answerinterview</string>
	<key>getImpressList</key>
	<string>impresslist</string>
	<key>searchUserByNickname</key>
	<string>usersearchbynick</string>
	<key>searchRecommendedUser</key>
	<string>userrecommend</string>
	<key>reportPhoto</key>
	<string>reportphoto</string>
	<key>skipUser</key>
	<string>blackuser</string>
	<key>deleteStatus</key>
	<string>delblog</string>
	<key>deleteComment</key>
	<string>delcomment</string>
	<key>resetPassword</key>
	<string>resetpwd</string>
	<key>bindDeviceToken</key>
	<string>binddevice</string>
	<key>debindDeviceToken</key>
	<string>debinddevice</string>
	<key>getDinnerList</key>
	<string>meethotellist</string>
	<key>deleteVideo</key>
	<string>delvideo</string>
	<key>getDinnerDetail</key>
	<string>hoteldetail</string>
	<key>planADate</key>
	<string>newmeeting</string>
	<key>getDateList</key>
	<string>meetinglist</string>
	<key>getDateDetail</key>
	<string>meetingdetail</string>
	<key>bindMobile</key>
	<string>bindmobile</string>
	<key>removeBlockedUser</key>
	<string>delblack</string>
	<key>invite</key>
	<string>invite</string>
	<key>payPM</key>
	<string>paypm</string>
	<key>enrollDate</key>
	<string>meetingapply</string>
	<key>getPMTips</key>
	<string>pmtips</string>
	<key>getBlacklist</key>
	<string>blacklist</string>
	<key>cancelDate</key>
	<string>meetingcancel</string>
	<key>chooseDatingPeople</key>
	<string>meetingchoose</string>
	<key>bindMail</key>
	<string>verifyemail</string>
	<key>getAuthCode</key>
	<string>mobilereg</string>
	<key>checkAuthCode</key>
	<string>mobilereg</string>
	<key>acceptDate</key>
	<string>meetingaccept</string>
	<key>rechargeAccount</key>
	<string>alipay</string>
	<key>chargeAccount</key>
	<string>pay</string>
	<key>getSignedUser</key>
	<string>meetinguserlist</string>
	<key>getDateLog</key>
	<string>meetinghistory</string>
	<key>payMeeting</key>
	<string>meetingpay</string>
	<key>getTradeLog</key>
	<string>payhistory</string>
	<key>getAuthStatus</key>
	<string>authstatus</string>
	<key>getHomeScreen</key>
	<string>getloadingpage</string>
	<key>getAiBaConfig</key>
	<string>aibaconfig</string>
	<key>getFreeBean</key>
	<string>getfreebean</string>
	<key>getFreeBeanStatus</key>
	<string>freebeanstatus</string>
	<key>activateVIP</key>
	<string>vippay</string>
	<key>getVillagerList</key>
	<string>villagerlist</string>
	<key>uploadVideo</key>
	<string>addvideo</string>
	<key>getRecommendList</key>
	<string>recommendlist</string>
	<key>getRecommendDetail</key>
	<string>recommenddetail</string>
	<key>commentPeople</key>
	<string>commentrecommend</string>
	<key>getRecommendedList</key>
	<string>getonesrecommend</string>
	<key>recommendPeople</key>
	<string>addrecommend</string>
	<key>getCommentList</key>
	<string>commentlist</string>
	<key>deleteRecommend</key>
	<string>delrecommend</string>
	<key>addAlipayOrder</key>
	<string>addorder</string>
	<key>getNoticeList</key>
	<string>getnewcomment</string>
	<key>uploadNoticeSettings</key>
	<string>setnotice</string>
	<key>recordDevice</key>
	<string>devicestat</string>
	<key>clearNotice</key>
	<string>clearnotice</string>
	<key>getUnipayOrder</key>
	<string>unionpay</string>
</dict>
</plist>
